@import "../../../assets/styles/media";
@import "../../../assets/styles/variables";

.tab {
  align-items: center;
  background-color: $color-nonary;
  border-radius: 10px;
  display: flex;
  font-weight: $font-weight-bold;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;

  @include for-mobile {
    flex-direction: column;
  }
}

.text {
  color: $color-senary;
  font-size: $font-size-body;

  @include for-mobile {
    font-size: 15px;
  }
}

.number {
  color: $color-tertiary;
  font-size: $font-size-subtitle;

  @include for-mobile {
    font-size: 24px;
  }
}
