@import "../../../assets/styles/media";
@import "../../../assets/styles/variables";

.card {
  background-color: $color-octonary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 56px;
  width: 100%;

  @include for-mobile {
    padding: $spacing-primary;
  }
}

.cardRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardRowOptions {
  display: flex;
  gap: 30px;

  @include for-mobile {
    gap: 10px;
  }
}
