@import "../../../assets/styles/variables";

.card {
  background-color: $color-octonary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 56px;
  width: 100%;
}

.cardRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardRowOptions {
  display: flex;
  gap: 30px;
}
