@import "../../../assets/styles/media";
@import "../../../assets/styles/variables";

.title {
  $this: &;

  font-size: $font-size-title;
  font-weight: bold;

  &Light {
    color: $color-octonary;
  }

  &Dark {
    color: $color-quaternary;
  }

  @include for-tablet {
    font-size: 40px;
  }
}
