@import "../../../assets/styles/media";
@import "../../../assets/styles/variables";

.menuButton {
  $this: &;

  background-color: $color-secondary;
  color: $color-octonary;
  font-size: 26px;
  padding: 10px;

  &:hover {
    background-color: $color-septenary;
    color: $color-octonary;
  }

  &Active {
    background-color: $color-tertiary !important;
  }

  &Big {
    background-color: $color-primary;
    font-size: 32px;
    padding: 16px;

    &:hover {
      background-color: rgba($color: $color-primary, $alpha: 80%);
    }
  }

  @include for-mobile {
    font-size: 16px;
  }
}
