@import "../../../assets/styles/variables";

.button {
  $this: &;

  border: none;
  border-radius: 35px;
  flex-grow: 1;
  font-weight: $font-weight-bold;
  padding: 15px 30px;
  transition: color 0.1s ease-out, background-color 0.1s ease-out;

  &Primary {
    background-color: $color-primary;
    color: $color-octonary;

    &:hover {
      background-color: rgba($color: $color-primary, $alpha: 80%);
    }
  }

  &Secondary {
    background-color: $color-secondary;
    color: $color-tertiary;

    &:hover {
      background-color: $color-septenary;
      color: $color-octonary;
    }
  }

  &Disabled {
    background-color: $color-quinary !important;
  }
}
