@import "../../../assets/styles/media";
@import "../../../assets/styles/variables";

.gameButton {
  $this: &;

  border-radius: 100%;
  padding: 0;
  user-select: none;

  &4x4 {
    font-size: $font-size-game-number-4x4;

    @include for-mobile {
      font-size: 40px;
    }
  }

  &6x6 {
    font-size: $font-size-game-number-6x6;

    @include for-mobile {
      font-size: 24px;
    }
  }

  &Hidden {
    background-color: $color-tertiary;
    color: $color-tertiary;
  }

  &Completed {
    background-color: $color-secondary;
    color: $color-octonary;
    pointer-events: none;
  }

  &Selected {
    background-color: $color-primary;
    color: $color-octonary;
  }
}
