.header {
  $this: &;

  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &Actions {
    align-items: center;
    display: flex;
    gap: 16px;
  }
}

.main {
  display: grid;
  gap: 20px;

  &4x4 {
    grid-template-columns: repeat(4, auto);
  }

  &6x6 {
    grid-template-columns: repeat(6, auto);
  }
}

.footer {
  align-items: center;
  display: flex;
  gap: 30px;
}
