.header {
  $this: &;

  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &Actions {
    align-items: center;
    display: flex;
    gap: 16px;
  }
}

.main {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, auto);
  max-width: 532px;
}

.footer {
  align-items: center;
  display: flex;
  gap: 30px;
}
