@import "../../assets/styles/media";
@import "../../assets/styles/variables";

.header {
  $this: &;

  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;

  &Actions {
    align-items: center;
    display: flex;
    gap: 16px;
  }
}

.main {
  display: grid;

  &4x4 {
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    height: 532px;
    width: 532px;

    @include for-mobile {
      gap: 12px;
      max-height: 327px;
      max-width: 327px;
    }
  }

  &6x6 {
    gap: 16px;
    grid-template-columns: repeat(6, 1fr);
    height: 572px;
    width: 572px;

    @include for-mobile {
      gap: 9px;
      max-height: 326px;
      max-width: 326px;
    }
  }
}

.footer {
  align-items: center;
  display: flex;
  gap: 30px;
  max-width: 532px;
  width: 100%;
}
