@import "../../assets/styles/media";

.gameLayout {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  position: relative;

  @include for-mobile {
    padding: 20px;
  }
}

.gameContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  max-width: 1110px;
  width: 100%;

  @include for-mobile {
    gap: 80px;
  }
}
