.gameLayout {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.gameContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  max-width: 1110px;
  width: 100%;
}
