// Colors
$color-primary: #fda214;
$color-secondary: #bcced9;
$color-tertiary: #304859;
$color-quaternary: #152938;
$color-quinary: #f2f2f2;
$color-senary: #7191a5;
$color-septenary: #6395b8;
$color-octonary: #fcfcfc;
$color-nonary: #dfe7ec;

// Typography
$font-family-default: "Atkinson Hyperlegible", sans-serif;
$font-weight-default: 400;
$font-style-default: normal;
$font-weight-bold: 700;
$font-size-title: 48px;
$font-size-subtitle: 32px;
$font-size-heading: 20px;
$font-size-body: 18px;
$font-size-game-number-6x6: 44px;
$font-size-game-number-4x4: 56px;
