@import "../../assets/styles/media";
@import "../../assets/styles/variables";

.settingsLayout {
  align-items: center;
  background-color: $color-quaternary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.settingsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 78px;
  justify-content: center;
  max-width: 650px;
  padding: $spacing-teritary;
  width: 100%;
}
